<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890699795615-huqnfogptkq8be292gpnuof0ppue7e5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890699795615-huqnfogptkq8be292gpnuof0ppue7e5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDNK1ceLT6R12_iD6s0gxwarY-k-52pfvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>890699795615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chanlee.reLoved</string>
	<key>PROJECT_ID</key>
	<string>reloved-f80b6</string>
	<key>STORAGE_BUCKET</key>
	<string>reloved-f80b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890699795615:ios:fcdb0f2c5d2d68d81326aa</string>
</dict>
</plist>